asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cryptography==2.1.4
Django==1.11.20
django-jchart==0.4.2
enum34==1.1.6
gevent==1.4.0
gevent-socketio==0.2.1
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
pytz==2019.1
pyxdg==0.25
requests==2.21.0
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.9.1
sphinx-me==0.3
urllib3==1.24.2
